.cms
  display: flex

  &.disabled
    display: none

  .nav
    position: relative
    display: flex
    flex-direction: column
    align-items: stretch
    width: 150px
    padding: 20px 0
    background-color: #252A3A
    text-align: center

    .new-items
      height: 100%

  .list
    width: 200px
    padding: 20px 50px
    background-color: #DDDDDD

    a
      display: block
      margin: 8px 0

  .logout
    color: #FFFFFF
