.cms
  display: flex

  &.disabled
    display: none

  .nav
    position: relative
    display: flex
    flex-direction: column
    align-items: stretch
    width: 150px
    background-color: #252A3A
    text-align: center

    .new-items
      height: 100%

  .list
    width: 300px
    background-color: #DDDDDD

    a
      display: block

  .nav,
  .list
    padding: 20px 0

  .logout
    color: #FFFFFF
