---
title: VinkCms login
---

.login
  %input#identityPoolId{name: "identityPoolId", type: "text", placeholder: "Identity pool id"}
  %input#region{name: "region", type: "text", placeholder: "region"}
  %input#bucketName{name: "bucketName", type: "text", placeholder: "bucket"}
  %label
    %input#remember{name: "horns", type: "checkbox"}
    Remember
  %input#submit{type: "submit", value: "Login"}

.cms.disabled
  .nav
    %input#new-entry{type: "submit", value: "Entry"}
  .list
  .entry
  %input#upload{type: "submit", value: "Upload"}
