---
title: VinkCms login
---

.login
  %input#identityPoolId{name: "identityPoolId", type: "text", placeholder: "Identity pool id"}
  %input#region{name: "region", type: "text", placeholder: "region"}
  %input#dataBucket{name: "bucketName", type: "text", placeholder: "data bucket"}
  %input#siteBucket{name: "bucketName", type: "text", placeholder: "site bucket"}
  %label
    %input#remember{name: "remember", type: "checkbox", value: false}
    Remember
  %input#submit{type: "submit", value: "Login"}

.cms.disabled
  .nav
    .js-new-items.new-items
    %a{href: "", class: "js-logout logout"} Logout
  .list
  .entry
