---
title: VinkCms login
---

%input#identityPoolId{name: "identityPoolId", type: "text", placeholder: "Identity pool id"}
%input#region{name: "region", type: "text", placeholder: "region"}
%input#bucketName{name: "bucketName", type: "text", placeholder: "bucket"}
%label
  %input#remember{name: "horns", type: "checkbox"}
  Remember
%input#submit{type: "submit", value: "Submit"}
