---
title: VinkCms login
---

.login
  %input#identityPoolId{name: "identityPoolId", type: "text", placeholder: "Identity pool id"}
  %input#region{name: "region", type: "text", placeholder: "region"}
  %input#dataBucket{name: "bucketName", type: "text", placeholder: "data bucket"}
  %input#siteBucket{name: "bucketName", type: "text", placeholder: "site bucket"}
  %label
    %input#remember{name: "remember", type: "checkbox", value: false}
    Remember
  %input#submit{type: "submit", value: "Login"}

.cms.disabled
  .nav
    .js-new-items.new-items
    %a{href: "", class: "js-logout logout"} Logout
  .list
  .content.js-content
    .actions
      %a.back{href: "", class: "js-exit-entry-item"} Back
      %a.edit{href: "", class: "js-edit-entry-item"} Edit
      %a.delete{href: "", class: "js-delete-entry-item"} Delete
    .entry
      %form
        .form-container
        %input.save{type: "submit", value: "Save"}
    .preview.js-preview
      %iframe

.image-picker-container.js-image-picker
  .selector-container
    .close.js-close-image-picker ×
    .image-container
      %select.image-picker.show-html
    .image-actions
      %input.image-upload{accept: "image/png, image/jpeg", name: "image", type: "file"}
      %input.js-select-image{type: "submit", value: "Select"}
      %input.js-delete-image{type: "submit", value: "Delete"}

.spinner
  .spinner-container
    %img{src: "images/spinner.svg"}
    %label Loading...
